<a href="https://colab.research.google.com/github/DhamuSniper/A-very-simple-MEAN-app-for-CRUD-/blob/master/Data_structures_and_Algorithm_in_python_Exercise_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data structures and Algorithm in python Exercise-solutions

In [0]:
#R.1.1

def is_multiple(n,m):
  if(n>=m):
    for i in range(n+1):
      if(n==m*i):
        return True
  return False

val=is_multiple(15,5)
print(val)

True

In [0]:
#R.1.2

def is_even(k):
  Bin_val=bin(k)
  str_val=str(Bin_val)
  print(str_val[-1])
  if(str_val[-1]=='0'):
    return True
  else:
    return False
  
  
val=is_even(7)
print(val)

1
False

In [0]:
#R.1.3

def minimaxi(data):
  updated_lst=[]
  mini=data[0]
  maxi=data[0]
  
  for i in data :
 
    if(i>maxi):
      maxi=i
    if(i<mini):
      mini=i
  updated_lst.append(maxi)
  updated_lst.append(mini)
  output=tuple(updated_lst)
  return output
data=[1,3,4,-1,9]
minimaxi(data)

(9, -1)

In [0]:
#R.1.4

def square(n):
    sumVal=0
    for i in range(1,n+1):
      sumVal+=pow(i,2)
    
    return sumVal
val=square(2)
print(val)

5

In [0]:
#R.1.6

def Odd_square(n):
      sumVal=0
      for i in range(1,n+1):
        if(i%2!=0):
          sumVal+=pow(i,2)
        
      return sumVal
  
val=Odd_square(5)
print(val)

35

In [60]:
#comprehension Syntax


List=[ 2**k for k in range(9)]
print(List)

[1, 2, 4, 8, 16, 32, 64, 128, 256]